In [1]:
# Load libraries
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.iolib.summary2 import summary_col
from scipy.stats import pearsonr

In [2]:
# Read the dataset 
dataFile = "data/Shining32.csv"
data = pd.read_csv(dataFile)
data.head()

,buyerid,age,education,inc,gender,location,purchase,brandid,mint,white,fluoride,kids,size,discount,familypack,priceperoz,priceperpack,Chosen,SecondChoice
0,1,56,College,79523.203,Female,Brooklyn,Online,Colgate,Yes,Yes,No,No,4.8,1,0,0.92,4.42,0,NaN
1,1,56,College,79523.203,Female,Brooklyn,Online,Colgate,Yes,No,Yes,No,3.9,0,1,0.96,3.74,1,NaN
2,1,56,College,79523.203,Female,Brooklyn,Online,Colgate,No,Yes,Yes,Yes,3.9,1,0,1.04,4.06,0,NaN
3,1,56,College,79523.203,Female,Brooklyn,Online,Crest,Yes,Yes,No,No,4.8,1,0,0.92,4.42,0,NaN
4,1,56,College,79523.203,Female,Brooklyn,Online,Crest,No,No,Yes,Yes,4.8,1,0,1.01,4.85,0,NaN

In [3]:
# Processing

# Convert yes/no to 1/0
dict  = {"Yes" : 1, "No" : 0}
data.replace({"mint": dict,"white": dict,"fluoride": dict, "kids": dict},inplace=True)

# Define product id
uniqueProducts  = data.groupby(['brandid','mint','white','fluoride','kids']).size().reset_index().rename(columns={0:'count'})
data["productId"] = 0
for i in range(10):
    data.iloc[(data.brandid == uniqueProducts.iloc[i,0]) & 
        (data.mint == uniqueProducts.iloc[i,1]) &
        (data.white == uniqueProducts.iloc[i,2]) &
        (data.fluoride == uniqueProducts.iloc[i,3]) &
        (data.kids == uniqueProducts.iloc[i,4]),-1] = i + 1

# Add dummies
data = data.join(pd.get_dummies(data.education,prefix="ed"))
data = data.join(pd.get_dummies(data.location,prefix="loc"))
data = data.join(pd.get_dummies(data.gender,prefix="gen"))
data = data.join(pd.get_dummies(data.purchase,prefix="purchase"))
data = data.join(pd.get_dummies(data.brandid,prefix="brand"))

# Rename some columns
data = data.rename({'ed_High School':'ed_HighSchool', 'ed_More than College':'ed_MoreCollege',
     'purchase_In Store':'purchase_InStore'}, axis='columns')

data.head(12)

,buyerid,age,education,inc,gender,location,purchase,brandid,mint,white,...,loc_Queens,gen_Female,gen_Male,gen_Other,purchase_InStore,purchase_Online,brand_Aquafresh,brand_Colgate,brand_Crest,brand_Sensodyne
0,1,56,College,79523.203,Female,Brooklyn,Online,Colgate,1,1,...,0,1,0,0,0,1,0,1,0,0
1,1,56,College,79523.203,Female,Brooklyn,Online,Colgate,1,0,...,0,1,0,0,0,1,0,1,0,0
2,1,56,College,79523.203,Female,Brooklyn,Online,Colgate,0,1,...,0,1,0,0,0,1,0,1,0,0
3,1,56,College,79523.203,Female,Brooklyn,Online,Crest,1,1,...,0,1,0,0,0,1,0,0,1,0
4,1,56,College,79523.203,Female,Brooklyn,Online,Crest,0,0,...,0,1,0,0,0,1,0,0,1,0
5,1,56,College,79523.203,Female,Brooklyn,Online,Sensodyne,1,0,...,0,1,0,0,0,1,0,0,0,1
6,1,56,College,79523.203,Female,Brooklyn,Online,Sensodyne,0,1,...,0,1,0,0,0,1,0,0,0,1
7,1,56,College,79523.203,Female,Brooklyn,Online,Aquafresh,1,0,...,0,1,0,0,0,1,1,0,0,0
8,1,56,College,79523.203,Female,Brooklyn,Online,Aquafresh,0,1,...,0,1,0,0,0,1,1,0,0,0
9,1,56,College,79523.203,Female,Brooklyn,Online,Aquafresh,0,1,...,0,1,0,0,0,1,1,0,0,0
10,2,50,College,64392.949,Male,Manhattan,In Store,Colgate,1,1,...,0,0,1,0,1,0,0,1,0,0
11,2,50,College,64392.949,Male,Manhattan,In Store,Colgate,1,0,...,0,0,1,0,1,0,0,1,0,0

In [4]:
dictBorough = {"Brooklyn": 1, "Manhattan": 2, "Queens": 3, "Other":4}
data["market"] = data["location"].map(dictBorough)
data.head(20)

,buyerid,age,education,inc,gender,location,purchase,brandid,mint,white,...,gen_Female,gen_Male,gen_Other,purchase_InStore,purchase_Online,brand_Aquafresh,brand_Colgate,brand_Crest,brand_Sensodyne,market
0,1,56,College,79523.203,Female,Brooklyn,Online,Colgate,1,1,...,1,0,0,0,1,0,1,0,0,1
1,1,56,College,79523.203,Female,Brooklyn,Online,Colgate,1,0,...,1,0,0,0,1,0,1,0,0,1
2,1,56,College,79523.203,Female,Brooklyn,Online,Colgate,0,1,...,1,0,0,0,1,0,1,0,0,1
3,1,56,College,79523.203,Female,Brooklyn,Online,Crest,1,1,...,1,0,0,0,1,0,0,1,0,1
4,1,56,College,79523.203,Female,Brooklyn,Online,Crest,0,0,...,1,0,0,0,1,0,0,1,0,1
5,1,56,College,79523.203,Female,Brooklyn,Online,Sensodyne,1,0,...,1,0,0,0,1,0,0,0,1,1
6,1,56,College,79523.203,Female,Brooklyn,Online,Sensodyne,0,1,...,1,0,0,0,1,0,0,0,1,1
7,1,56,College,79523.203,Female,Brooklyn,Online,Aquafresh,1,0,...,1,0,0,0,1,1,0,0,0,1
8,1,56,College,79523.203,Female,Brooklyn,Online,Aquafresh,0,1,...,1,0,0,0,1,1,0,0,0,1
9,1,56,College,79523.203,Female,Brooklyn,Online,Aquafresh,0,1,...,1,0,0,0,1,1,0,0,0,1
10,2,50,College,64392.949,Male,Manhattan,In Store,Colgate,1,1,...,0,1,0,1,0,0,1,0,0,2
11,2,50,College,64392.949,Male,Manhattan,In Store,Colgate,1,0,...,0,1,0,1,0,0,1,0,0,2
12,2,50,College,64392.949,Male,Manhattan,In Store,Colgate,0,1,...,0,1,0,1,0,0,1,0,0,2
13,2,50,College,64392.949,Male,Manhattan,In Store,Crest,1,1,...,0,1,0,1,0,0,0,1,0,2
14,2,50,College,64392.949,Male,Manhattan,In Store,Crest,0,0,...,0,1,0,1,0,0,0,1,0,2
15,2,50,College,64392.949,Male,Manhattan,In Store,Sensodyne,1,0,...,0,1,0,1,0,0,0,0,1,2
16,2,50,College,64392.949,Male,Manhattan,In Store,Sensodyne,0,1,...,0,1,0,1,0,0,0,0,1,2
17,2,50,College,64392.949,Male,Manhattan,In Store,Aquafresh,1,0,...,0,1,0,1,0,1,0,0,0,2
18,2,50,College,64392.949,Male,Manhattan,In Store,Aquafresh,0,1,...,0,1,0,1,0,1,0,0,0,2
19,2,50,College,64392.949,Male,Manhattan,In Store,Aquafresh,0,1,...,0,1,0,1,0,1,0,0,0,2

In [5]:
# Fit some logit models to explain chosen product characteristcs

# Restrict the dataset to the chosen prodicts
dataChosen = data[data['Chosen'] == 1].copy()

# Normalization
dataChosen["sizeNorm"] = np.divide(dataChosen["size"]-np.min(dataChosen["size"]),
                                np.max(dataChosen["size"])-np.min(dataChosen["size"]))
dataChosen["inc"] = dataChosen["inc"]/1000

# Regressors = consumer attributes
regressors  = '~ age + inc + ed_College + ed_MoreCollege +'\
                'loc_Brooklyn + loc_Manhattan + loc_Other +'\
                'gen_Female + gen_Other + purchase_InStore'

# Predict the chosen brand
mBrand_1 = smf.logit('brand_Colgate'+regressors, data=dataChosen).fit()
mBrand_2 = smf.logit('brand_Aquafresh'+regressors, data=dataChosen).fit()
mBrand_3 = smf.logit('brand_Sensodyne'+regressors, data=dataChosen).fit()
mBrand_4 = smf.logit('brand_Crest'+regressors, data=dataChosen).fit()

# Predict other chosen characteristics
mChrc_1 = smf.logit('mint'+regressors, data=dataChosen).fit()
mChrc_2 = smf.logit('white'+regressors, data=dataChosen).fit()
mChrc_3 = smf.logit('fluoride'+regressors, data=dataChosen).fit()
mChrc_4 = smf.logit('kids'+regressors, data=dataChosen).fit()
mChrc_5 = smf.logit('sizeNorm'+regressors, data=dataChosen).fit()
mChrc_6 = smf.logit('discount'+regressors, data=dataChosen).fit()
mChrc_7 = smf.logit('familypack'+regressors, data=dataChosen).fit()
mChrc_8 = smf.ols('priceperoz'+regressors, data=dataChosen).fit()

Optimization terminated successfully.
         Current function value: 0.598719
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.377925
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.313782
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.237058
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.154480
         Iterations 8
Optimization terminated successfully.
         Current function value: 0.537584
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.618602
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.079393
         Iterations 9
Optimization terminated successfully.
         Current function value: 0.565306
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.342223
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.676999
         Iterations 4

In [41]:
dataChosen2 = data[~np.isnan(data['SecondChoice'])].copy()



characteristics = ['brand_Colgate', 'brand_Aquafresh', 'brand_Sensodyne', 
        'brand_Crest', 'mint', 'white', 'fluoride',
        'kids', 'size', 'discount', 'familypack', 'priceperoz',
        'priceperpack']
dataChosen2 = dataChosen2[['buyerid','Chosen','SecondChoice']+characteristics]

# normalize
data_norm = data[characteristics].copy()
means = np.expand_dims(data_norm.to_numpy().mean(axis=0),axis=0)
sds = np.expand_dims(data_norm.to_numpy().std(axis=0),axis=0)

norm_data = (dataChosen2[characteristics].to_numpy() - means)/sds

dataChosen2[characteristics] = norm_data
         

firstChoice = dataChosen2[dataChosen2["Chosen"]>0]
secondChoice = dataChosen2[dataChosen2["SecondChoice"]>0]

corr = []
pval = []
for i in range(len(characteristics)):
    ch = characteristics[i]
    corr.append(np.round(np.corrcoef(firstChoice[ch].to_numpy(),
                    secondChoice[ch].to_numpy())[0,1],4))
    pval.append(np.round(pearsonr(firstChoice[ch].to_numpy(),
                    secondChoice[ch].to_numpy())[1],4))    
correlations = pd.DataFrame({'Characteristic': characteristics,
                            'Correlation': corr,
                            'p-value': pval})
correlations = correlations.sort_values(by='p-value')
correlations

     Characteristic  Correlation  p-value
6          fluoride      -0.2557   0.0000
12     priceperpack       0.1913   0.0000
2   brand_Sensodyne      -0.1466   0.0009
0     brand_Colgate      -0.1106   0.0123
8              size       0.1080   0.0146
5             white      -0.0990   0.0252
1   brand_Aquafresh      -0.0980   0.0267
11       priceperoz       0.0673   0.1289
9          discount       0.0473   0.2861
3       brand_Crest      -0.0436   0.3250
7              kids      -0.0149   0.7367
4              mint       0.0072   0.8706
10       familypack       0.0053   0.9041

In [48]:
secondChoice.describe()

,buyerid,Chosen,SecondChoice,brand_Colgate,brand_Aquafresh,brand_Sensodyne,brand_Crest,mint,white,fluoride,kids,size,discount,familypack,priceperoz,priceperpack
count,511.000000,511.000000,511.0,511.000000,511.000000,511.000000,511.000000,511.000000,511.000000,511.000000,511.000000,511.000000,511.000000,511.000000,511.000000,511.000000
mean,5026.031311,0.027397,1.0,0.344622,-0.125123,-0.108611,-0.142857,0.909980,-0.242073,-0.181996,-0.594868,-0.486296,0.103234,0.136845,-0.589135,-0.747557
std,2960.683833,0.163398,0.0,1.088285,0.936399,0.909344,0.875675,0.415058,1.020914,0.984263,0.356564,0.985812,0.914308,1.049771,0.772869,0.744872
min,2.000000,0.000000,1.0,-0.654654,-0.654654,-0.500000,-0.500000,-1.000000,-1.224745,-1.000000,-0.654654,-1.234495,-2.001313,-0.656540,-1.584121,-1.842154
25%,2271.000000,0.000000,1.0,-0.654654,-0.654654,-0.500000,-0.500000,1.000000,-1.224745,-1.000000,-0.654654,-1.234495,0.499672,-0.656540,-0.956549,-1.402307
50%,5182.000000,0.000000,1.0,-0.654654,-0.654654,-0.500000,-0.500000,1.000000,-1.224745,-1.000000,-0.654654,-1.234495,0.499672,-0.656540,-0.851954,-0.701809
75%,7659.000000,0.000000,1.0,1.527525,-0.654654,-0.500000,-0.500000,1.000000,0.816497,1.000000,-0.654654,0.810048,0.499672,1.523136,0.193999,-0.131637
max,9989.000000,1.000000,1.0,1.527525,1.527525,2.000000,2.000000,1.000000,0.816497,1.000000,1.527525,0.810048,0.499672,1.523136,1.553739,1.741785

In [49]:
(firstChoice["fluoride"].to_numpy()*secondChoice["fluoride"].to_numpy()).mean()

-0.30332681017612523

In [25]:
resultsAlll = summary_col( [mBrand_1,mBrand_2,mBrand_3,mBrand_4]+
    [mChrc_1,mChrc_2,mChrc_3,mChrc_4,mChrc_5,mChrc_6,mChrc_7,mChrc_8],stars=True)
print(resultsAlll)

================================================================================================================================================================
                 brand_Colgate brand_Aquafresh brand_Sensodyne brand_Crest    mint      white     fluoride    kids    sizeNorm   discount  familypack priceperoz
----------------------------------------------------------------------------------------------------------------------------------------------------------------
Intercept        0.1102        -1.7976***      -1.6076***      -1.3702**   3.4020***  0.2520     -0.7704** -2.5050** -1.9591*** 3.4508***  0.3148     0.9023***
                 (0.3484)      (0.4805)        (0.5336)        (0.6373)    (0.8259)   (0.3716)   (0.3395)  (1.2395)  (0.3656)   (0.5132)   (0.3204)   (0.0101)
R-squared                                                                                                                                             0.0016
R-squared Adj.                                                                                                                                        0.0006
age              0.0093        -0.0099         -0.0068         -0.0037     0.0041     -0.0022    0.0042    -0.0077   0.0034     0.0013     -0.0149*** 0.0001
                 (0.0059)      (0.0080)        (0.0091)        (0.0109)    (0.0140)   (0.0063)   (0.0058)  (0.0214)  (0.0061)   (0.0086)   (0.0054)   (0.0002)
ed_College       -0.0211       0.4424***       -0.2242         -0.1874     -0.2839    -0.5879*** 0.6102*** 0.1196    0.3051**   -0.0424    -0.1177    -0.0034
                 (0.1047)      (0.1656)        (0.1497)        (0.1744)    (0.2613)   (0.1009)   (0.0967)  (0.3608)  (0.1187)   (0.1652)   (0.0959)   (0.0030)
ed_MoreCollege   -0.0575       0.8020***       -0.6473***      -0.2464     -0.3866    -1.1449*** 1.1959*** 0.4891    0.6475***  -0.0737    -0.2889**  -0.0039
                 (0.1362)      (0.2016)        (0.2057)        (0.2401)    (0.3326)   (0.1414)   (0.1312)  (0.4760)  (0.1481)   (0.2065)   (0.1251)   (0.0040)
gen_Female       -0.0137       0.0904          -0.0910         0.0117      0.1153     0.0448     -0.0017   0.0494    -0.0916**  0.0667     0.0499     -0.0011
                 (0.0446)      (0.0608)        (0.0686)        (0.0822)    (0.1055)   (0.0478)   (0.0435)  (0.1607)  (0.0463)   (0.0648)   (0.0409)   (0.0013)
gen_Other        -0.1986       0.2063          0.3331          -0.2961     0.0104     -0.3913    0.1908    -0.4638   0.1696     -0.0505    -0.0164    0.0097
                 (0.2117)      (0.2834)        (0.2922)        (0.4626)    (0.5195)   (0.2638)   (0.2214)  (1.0135)  (0.2180)   (0.3110)   (0.2023)   (0.0064)
inc              0.0041        -0.0022         0.0027          -0.0138*    0.0095     -0.0098**  0.0079*   -0.0271*  0.0040     -0.0177*** 0.0032     0.0003**
                 (0.0044)      (0.0060)        (0.0068)        (0.0082)    (0.0105)   (0.0048)   (0.0043)  (0.0161)  (0.0046)   (0.0065)   (0.0041)   (0.0001)
loc_Brooklyn     0.0792        -0.0637         -0.0414         -0.0889     0.3350**   -0.0302    0.0308    -0.3585   0.0335     0.0508     -0.0418    -0.0022
                 (0.0783)      (0.1037)        (0.1228)        (0.1441)    (0.1563)   (0.0856)   (0.0779)  (0.2363)  (0.0820)   (0.1163)   (0.0727)   (0.0023)
loc_Manhattan    0.1178        -0.1682         -0.0485         -0.0164     0.3259**   0.0393     -0.0280   -0.4077*  0.0017     -0.1048    -0.0747    0.0010
                 (0.0782)      (0.1045)        (0.1218)        (0.1433)    (0.1621)   (0.0850)   (0.0775)  (0.2457)  (0.0822)   (0.1153)   (0.0726)   (0.0023)
loc_Other        -0.1713       0.0201          0.1785          0.2609      -0.2624    -0.0467    -0.0870   0.5929    0.0789     -0.0808    0.1752     0.0010
                 (0.2614)      (0.3546)        (0.3920)        (0.4461)    (0.4877)   (0.2971)   (0.2639)  (0.6269)  (0.2796)   (0.3901)   (0.2483)   (0.0079)
purchase_InStore 0.0070        0.1149*         -0.2396***      0.1157      -1.5470*** -0.0032    0.1108**  1.1445*** 0.1972***  -0.1627**  0.0233     0.0016
                 (0.0482)      (0.0661)        (0.0736)        (0.0894)    (0.1521)   (0.0516)   (0.0469)  (0.2116)  (0.0504)   (0.0704)   (0.0443)   (0.0014)
================================================================================================================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

In [27]:
print(resultsAlll.as_latex())

\begin{table}
\caption{}
\label{}
\begin{center}
\begin{tabular}{lllllllllllll}
\hline
                  & brand\_Colgate & brand\_Aquafresh & brand\_Sensodyne & brand\_Crest & mint       & white      & fluoride  & kids      & sizeNorm   & discount   & familypack & priceperoz  \\
\hline
Intercept         & 0.1102         & -1.7976***       & -1.6076***       & -1.3702**    & 3.4020***  & 0.2520     & -0.7704** & -2.5050** & -1.9591*** & 3.4508***  & 0.3148     & 0.9023***   \\
                  & (0.3484)       & (0.4805)         & (0.5336)         & (0.6373)     & (0.8259)   & (0.3716)   & (0.3395)  & (1.2395)  & (0.3656)   & (0.5132)   & (0.3204)   & (0.0101)    \\
R-squared         &                &                  &                  &              &            &            &           &           &            &            &            & 0.0016      \\
R-squared Adj.    &                &                  &                  &              &            &            &           &           &            &            &            & 0.0006      \\
age               & 0.0093         & -0.0099          & -0.0068          & -0.0037      & 0.0041     & -0.0022    & 0.0042    & -0.0077   & 0.0034     & 0.0013     & -0.0149*** & 0.0001      \\
                  & (0.0059)       & (0.0080)         & (0.0091)         & (0.0109)     & (0.0140)   & (0.0063)   & (0.0058)  & (0.0214)  & (0.0061)   & (0.0086)   & (0.0054)   & (0.0002)    \\
ed\_College       & -0.0211        & 0.4424***        & -0.2242          & -0.1874      & -0.2839    & -0.5879*** & 0.6102*** & 0.1196    & 0.3051**   & -0.0424    & -0.1177    & -0.0034     \\
                  & (0.1047)       & (0.1656)         & (0.1497)         & (0.1744)     & (0.2613)   & (0.1009)   & (0.0967)  & (0.3608)  & (0.1187)   & (0.1652)   & (0.0959)   & (0.0030)    \\
ed\_MoreCollege   & -0.0575        & 0.8020***        & -0.6473***       & -0.2464      & -0.3866    & -1.1449*** & 1.1959*** & 0.4891    & 0.6475***  & -0.0737    & -0.2889**  & -0.0039     \\
                  & (0.1362)       & (0.2016)         & (0.2057)         & (0.2401)     & (0.3326)   & (0.1414)   & (0.1312)  & (0.4760)  & (0.1481)   & (0.2065)   & (0.1251)   & (0.0040)    \\
gen\_Female       & -0.0137        & 0.0904           & -0.0910          & 0.0117       & 0.1153     & 0.0448     & -0.0017   & 0.0494    & -0.0916**  & 0.0667     & 0.0499     & -0.0011     \\
                  & (0.0446)       & (0.0608)         & (0.0686)         & (0.0822)     & (0.1055)   & (0.0478)   & (0.0435)  & (0.1607)  & (0.0463)   & (0.0648)   & (0.0409)   & (0.0013)    \\
gen\_Other        & -0.1986        & 0.2063           & 0.3331           & -0.2961      & 0.0104     & -0.3913    & 0.1908    & -0.4638   & 0.1696     & -0.0505    & -0.0164    & 0.0097      \\
                  & (0.2117)       & (0.2834)         & (0.2922)         & (0.4626)     & (0.5195)   & (0.2638)   & (0.2214)  & (1.0135)  & (0.2180)   & (0.3110)   & (0.2023)   & (0.0064)    \\
inc               & 0.0041         & -0.0022          & 0.0027           & -0.0138*     & 0.0095     & -0.0098**  & 0.0079*   & -0.0271*  & 0.0040     & -0.0177*** & 0.0032     & 0.0003**    \\
                  & (0.0044)       & (0.0060)         & (0.0068)         & (0.0082)     & (0.0105)   & (0.0048)   & (0.0043)  & (0.0161)  & (0.0046)   & (0.0065)   & (0.0041)   & (0.0001)    \\
loc\_Brooklyn     & 0.0792         & -0.0637          & -0.0414          & -0.0889      & 0.3350**   & -0.0302    & 0.0308    & -0.3585   & 0.0335     & 0.0508     & -0.0418    & -0.0022     \\
                  & (0.0783)       & (0.1037)         & (0.1228)         & (0.1441)     & (0.1563)   & (0.0856)   & (0.0779)  & (0.2363)  & (0.0820)   & (0.1163)   & (0.0727)   & (0.0023)    \\
loc\_Manhattan    & 0.1178         & -0.1682          & -0.0485          & -0.0164      & 0.3259**   & 0.0393     & -0.0280   & -0.4077*  & 0.0017     & -0.1048    & -0.0747    & 0.0010      \\
                  & (0.0782)       & (0.1045)         & (0.1218)         & (0.1433)     & (0.1621)   & (0.0850)   & (0.0775)  & (0.2457)  & (0.0822)   & (0.1153)   & (0.0726)   & (0.0023)    \\
loc\_Other        & -0.1713        & 0.0201           & 0.1785           & 0.2609       & -0.2624    & -0.0467    & -0.0870   & 0.5929    & 0.0789     & -0.0808    & 0.1752     & 0.0010      \\
                  & (0.2614)       & (0.3546)         & (0.3920)         & (0.4461)     & (0.4877)   & (0.2971)   & (0.2639)  & (0.6269)  & (0.2796)   & (0.3901)   & (0.2483)   & (0.0079)    \\
purchase\_InStore & 0.0070         & 0.1149*          & -0.2396***       & 0.1157       & -1.5470*** & -0.0032    & 0.1108**  & 1.1445*** & 0.1972***  & -0.1627**  & 0.0233     & 0.0016      \\
                  & (0.0482)       & (0.0661)         & (0.0736)         & (0.0894)     & (0.1521)   & (0.0516)   & (0.0469)  & (0.2116)  & (0.0504)   & (0.0704)   & (0.0443)   & (0.0014)    \\
\hline
\end{tabular}
\end{center}
\end{table}

: